/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Times New Roman", Georgia,Serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Arial black", Impact, Times;
  font-weight: bold;
  padding-bottom: 0.1em; }
  h1 > small, h2 > small, h3 > small, h4 > small, h5 > small, h6 > small {
    font-size: 0.8em;
    color: grey; }

h1 {
  font-size: 4em; }
  h1.sub {
    font-size: 3em;
    color: grey; }

h2 {
  font-size: 3.5em; }
  h2.sub {
    font-size: 2.5em;
    color: grey; }

h3 {
  font-size: 3em; }
  h3.sub {
    font-size: 2em;
    color: grey; }

h4 {
  font-size: 2.5em; }
  h4.sub {
    font-size: 1.5em;
    color: grey; }

h5 {
  font-size: 2em; }
  h5.sub {
    font-size: 1.5em;
    color: grey; }

h6 {
  font-size: 1.5em; }
  h6.sub {
    font-size: 1em;
    color: grey; }

p {
  margin-bottom: 0.5em; }

u {
  text-decoration: underline; }

q, blockquote {
  font-style: italic;
  font-family: cursive,"Times New Roman", Verdana;
  color: Maroon; }

strong {
  font-weight: bold; }

code {
  font-family: Courier;
  background-color: black;
  color: blue; }

pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0; }

kbd {
  font-family: arial;
  font-size: 1em;
  background-color: #DCDCDC;
  font-weight: bold;
  border: solid 1px;
  border-radius: 0.5em;
  padding: 0.3em;
  margin: 1em; }

mark {
  font-family: arial;
  padding: 0 1em; }

del {
  font-family: arial; }

ins {
  font-family: arial;
  font-weight: bold; }

abbr {
  border-bottom: dotted 1px black; }

em {
  font-style: italic; }

.puce {
  list-style-type: disc;
  margin: 0 2rem; }

.square {
  list-style-type: square;
  margin: 0 2rem; }

.puceVide {
  list-style-type: none;
  margin: 0 2rem; }

.alignerGauche {
  text-align: left; }

.alignerDroite {
  text-align: right; }

.alignerCentre {
  text-align: center; }

.alignerJustify {
  text-align: justify; }

.majuscule {
  text-transform: uppercase; }

.minuscule {
  text-transform: lowercase; }

#tables {
  margin-left: 2rem; }

table {
  border-collapse: collapse;
  text-align: center; }
  table td, table th {
    border: 1px solid black;
    padding: 5px; }
  table .th {
    background-color: #B2CCCC;
    padding: 5px; }
  table .tr:nth-child(odd) {
    background-color: yellow; }
  table .tr:hover {
    font-weight: bold;
    cursor: cell; }

/**A ajouter: listes , tables; bouton fancy*/
#boutons {
  width: 100%;
  background-color: #F0FFFF;
  text-align: center;
  margin: 0 0 1em 1em;
  padding: 1em 1em 1em 1em;
  border: solid 1px grey; }

.btn, .btn-fancy, .btn-succes, .btn-info, .btn-avertissment, .btn-danger {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  color: black;
  border: solid 3px black;
  border-radius: 0.3em;
  margin: 2px 0 0 2px;
  display: inline-block;
  padding: 0.5em;
  background-color: #C0C0C0; }
  .btn:hover, .btn-fancy:hover, .btn-succes:hover, .btn-info:hover, .btn-avertissment:hover, .btn-danger:hover {
    background-color: #8FBC8F;
    color: #FFFFFF;
    cursor: pointer; }
  .btn:active, .btn-fancy:active, .btn-succes:active, .btn-info:active, .btn-avertissment:active, .btn-danger:active {
    background-color: #FFFFFF;
    color: #8FBC8F;
    cursor: pointer; }

.btn-lg {
  font-size: 3em; }

.btn-sml {
  font-size: 0.8em; }

.btn-vert, .btn-succes {
  background-color: #008000;
  color: #FFFFFF; }
  .btn-vert:hover, .btn-succes:hover {
    background-color: #90EE90;
    color: #FFFFFF; }
  .btn-vert:active, .btn-succes:active {
    background-color: #FFF0F5;
    color: #008000; }

.btn-mauve {
  background-color: #8470FF;
  color: #FFFFFF; }
  .btn-mauve:hover {
    background-color: #B0C4DE;
    color: #FFFFFF;
    cursor: pointer; }
  .btn-mauve:active {
    background-color: #FFF0F5;
    color: #8470FF;
    cursor: pointer; }

.btn-rouge {
  background-color: #FF4500;
  color: #FF0000; }
  .btn-rouge:hover {
    background-color: #FF0000;
    color: #FFFFFF;
    cursor: pointer; }
  .btn-rouge:active {
    background-color: #FFF0F5;
    color: #FF0000;
    cursor: pointer; }

.btn-extraL {
  width: 100%; }

.btn-flat {
  border: none; }

.btn-fancy {
  background: linear-gradient(to right, grey, rgba(0, 255, 0, 0)); }

.btn-succes {
  width: 100%; }

.btn-info {
  background-color: #1E90FF;
  width: 100%; }
  .btn-info:hover {
    color: #1E90FF;
    background-color: #F0FFF0; }

.btn-avertissment {
  background-color: #FF4500;
  width: 100%; }
  .btn-avertissment:hover {
    color: #FF4500;
    background-color: #F0FFF0; }

.btn-danger {
  background-color: #FF0000;
  width: 100%; }
  .btn-danger:hover {
    color: #FF0000;
    background-color: #F0FFF0; }

.jumbotron {
  margin: 1rem;
  display: inline-block;
  width: 50%;
  background-color: #DCDCDC;
  padding: 2rem 1rem;
  text-align: center;
  border-radius: 2rem; }
  .jumbotron h5, .jumbotron p {
    padding: 1rem; }

header {
  text-align: center;
  background-color: #FFEBCD; }
  header h1 {
    color: #FF8C00;
    font-weight: bold; }

ul.navbar {
  border: solid 1px black;
  list-style-type: none;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap; }
  ul.navbar li {
    /*margin:1rem;*/
    font-weight: bold;
    padding: 1rem; }
    ul.navbar li:hover {
      background-color: #1E90FF;
      color: #F0FFFF;
      cursor: pointer; }
    ul.navbar li:active {
      background-color: #F0FFFF;
      color: #1E90FF; }
    ul.navbar li.disabled {
      cursor: none;
      opacity: 0.5; }
    ul.navbar li.active {
      cursor: none;
      background-color: grey; }

body {
  display: table;
  width: 100%;
  table-layout: fixed;
  word-spacing: -2em; }

.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12, .col13, .col14, .col15, .col16, .col17, .col18, .col19, .col20, .col21, .col22 {
  margin-right: 1%;
  margin-left: 1%;
  display: inline-block;
  box-sizing: border-box;
  word-spacing: normal;
  /*overflow: auto;*/ }

.col1 {
  width: 2.54545%; }

.col2 {
  width: 7.09091%; }

.col3 {
  width: 11.63636%; }

.col4 {
  width: 16.18182%; }

.col5 {
  width: 20.72727%; }

.col6 {
  width: 25.27273%; }

.col7 {
  width: 29.81818%; }

.col8 {
  width: 34.36364%; }

.col9 {
  width: 38.90909%; }

.col10 {
  width: 43.45455%; }

.col11 {
  width: 48%; }

.col12 {
  width: 52.54545%; }

.col13 {
  width: 57.09091%; }

.col14 {
  width: 61.63636%; }

.col15 {
  width: 66.18182%; }

.col16 {
  width: 70.72727%; }

.col17 {
  width: 75.27273%; }

.col18 {
  width: 79.81818%; }

.col19 {
  width: 84.36364%; }

.col20 {
  width: 88.90909%; }

.col21 {
  width: 93.45455%; }

.col22 {
  width: 98%; }

.off1 {
  margin-left: 5.54545%; }

.off2 {
  margin-left: 10.09091%; }

.off3 {
  margin-left: 14.63636%; }

.off4 {
  margin-left: 19.18182%; }

.off5 {
  margin-left: 23.72727%; }

.off6 {
  margin-left: 28.27273%; }

.off7 {
  margin-left: 32.81818%; }

.off8 {
  margin-left: 37.36364%; }

.off9 {
  margin-left: 41.90909%; }

.off10 {
  margin-left: 46.45455%; }

.off11 {
  margin-left: 51%; }

.off12 {
  margin-left: 55.54545%; }

.off13 {
  margin-left: 60.09091%; }

.off14 {
  margin-left: 64.63636%; }

.off15 {
  margin-left: 69.18182%; }

.off16 {
  margin-left: 73.72727%; }

.off17 {
  margin-left: 78.27273%; }

.off18 {
  margin-left: 82.81818%; }

.off19 {
  margin-left: 87.36364%; }

.off20 {
  margin-left: 91.90909%; }

.off21 {
  margin-left: 96.45455%; }

/*# sourceMappingURL=framework.css.map */
