body {
  font-family: "Times New Roman", Georgia,Serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Arial black", Impact, Times;
  font-weight: bold;
  padding-bottom: 0.1em; }
  h1 > small, h2 > small, h3 > small, h4 > small, h5 > small, h6 > small {
    font-size: 0.8em;
    color: grey; }

h1 {
  font-size: 4em; }
  h1.sub {
    font-size: 3em;
    color: grey; }

h2 {
  font-size: 3.5em; }
  h2.sub {
    font-size: 2.5em;
    color: grey; }

h3 {
  font-size: 3em; }
  h3.sub {
    font-size: 2em;
    color: grey; }

h4 {
  font-size: 2.5em; }
  h4.sub {
    font-size: 1.5em;
    color: grey; }

h5 {
  font-size: 2em; }
  h5.sub {
    font-size: 1.5em;
    color: grey; }

h6 {
  font-size: 1.5em; }
  h6.sub {
    font-size: 1em;
    color: grey; }

p {
  margin-bottom: 0.5em; }

mark, del, ins, u, strong, em, abbr {
  background-color: green;
  color: orange; }

q, blockquote {
  font-style: italic;
  font-family: cursive,"Times New Roman", Verdana;
  color: Maroon; }

code {
  font-family: Courier; }

pre {
  font-family: arial;
  color: #A52A2A; }

kbd {
  font-family: "Helvetica Narrow";
  color: #2F4F4F; }

ul {
  list-style-type: disc; }
  ul li {
    font-family: comic, sans-serif;
    font-size: 100%;
    color: black;
    display: list-item; }

.alignerGauche {
  text-align: left; }

.alignerDroite {
  text-align: right; }

.alignerCentre {
  text-align: center; }

.alignerJustify {
  text-align: justify; }

.majuscule {
  text-transform: uppercase; }

.minuscule {
  text-transform: lowercase; }

/**A ajouter: listes , tables; bouton fancy*/

/*# sourceMappingURL=typo1.css.map */
