$couleurBtnGnrl:#C0C0C0;
$couleurVert:#008000;
$couleurMauve:#8470FF;
$tailleLarge:3em;
$tailleSmall:0.8em;


#boutons{
	width:100%;
	background-color: #F0FFFF;
	text-align: center;
	margin: 0 0 1em 1em;
	padding: 1em 1em 1em 1em;
	border:solid 1px grey;

}
.btn{
	font-size:1em;
	font-weight: bold;
	text-align: center;
	color: black;
	border:solid 3px black;
	border-radius: 0.3em;
	margin: 2px 0 0 2px;
	display:inline-block;
	padding: 0.5em;
	background-color:$couleurBtnGnrl ;

	&:hover{
		background-color:#8FBC8F;
		color:#FFFFFF;
		cursor: pointer;
	}

	&:active{
		background-color:#FFFFFF;
		color:#8FBC8F;
		cursor: pointer;
	}

}

.btn-lg{
	font-size:$tailleLarge;

}



.btn-sml{
	font-size: $tailleSmall;

}

.btn-vert{
	background-color: $couleurVert;
	color: #FFFFFF;
	&:hover{
		background-color:#90EE90;
		color:#FFFFFF;

	}

	&:active{
		background-color:#FFF0F5;
		color:#008000;
	}

}

.btn-mauve{
	background-color:$couleurMauve;
	color: #FFFFFF;
	&:hover{
		background-color:#B0C4DE;
		color:#FFFFFF;
		cursor: pointer;
	}

	&:active{
		background-color:#FFF0F5;
		color:#8470FF;
		cursor: pointer;
	}

}

.btn-rouge{
	background-color: #FF4500;
	color: #FF0000;
	&:hover{
		background-color:#FF0000;
		color:#FFFFFF;
		cursor: pointer;
	}

	&:active{
		background-color:#FFF0F5;
		color:#FF0000;
		cursor: pointer;
	}

}

.btn-extraL{
	width:100%;
}

.btn-flat{
	border:none;
}

.btn-fancy{
	@extend .btn;
	background: linear-gradient(to right, grey, rgba(0,255,0,0));
}
