

body{
	font-family:"Times New Roman", Georgia,Serif;

}

h1,h2,h3,h4,h5,h6{
	font-family: "Arial black", Impact, Times;
	font-weight: bold;
	padding-bottom: 0.1em;
	& >small{
		font-size:0.8em;
		color:grey;
	}



}

h1{
	font-size: 4em;
		&.sub{
		font-size:3em;
		color:grey;
	}
}

h2{
	font-size: 3.5em;
		&.sub{
		font-size:2.5em;
		color:grey;
	}
}

h3{
	font-size: 3em;
	&.sub{
		font-size:2em;
		color:grey;
	}
}

h4{
	font-size: 2.5em;
	&.sub{
		font-size:1.5em;
		color:grey;
	}
}

h5{
	font-size: 2em;
	&.sub{
		font-size:1.5em;
		color:grey;
	}
}

h6{
	font-size: 1.5em;
	&.sub{
		font-size:1em;
		color:grey;
	}
}

p{
	margin-bottom: 0.5em;
}

u{
	text-decoration:underline
}

q,blockquote{
	font-style: italic;
	font-family:cursive,"Times New Roman", Verdana;
	color:Maroon;
}

strong{
	font-weight:bold;
}

code{
	font-family: Courier;
	background-color: black;
	color:blue;
}

pre{
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
}

kbd{
	font-family:arial;
	font-size:1em;
	background-color: #DCDCDC;
	font-weight:bold;
	border:solid 1px;
	border-radius:0.5em;
	padding:0.3em;
	margin:1em;
}

mark{
	font-family:arial;
	padding:0 1em;
}

del{
	font-family:arial;
}

ins{
	font-family:arial;
	font-weight: bold;
}

abbr{
	border-bottom:dotted 1px black;
}

em{
	font-style:italic;
}


.puce{
	list-style-type: disc;
	margin:0 2rem;
}

.square{
	list-style-type: square;
	margin:0 2rem;
}

.puceVide{
	list-style-type: none;
	margin:0 2rem;
}

.alignerGauche{
	text-align: left;
}

.alignerDroite{
	text-align: right;
}

.alignerCentre{
	text-align: center;
}

.alignerJustify{
	text-align: justify;
}

.majuscule{
	text-transform: uppercase;
}

.minuscule{
	text-transform: lowercase;
}

#tables{
	margin-left: 2rem;
}

table{
	border-collapse: collapse;
	text-align: center;

	td,th{
		border:1px solid black;
		padding:5px;
	}

	.th {
  background-color: #B2CCCC;
  padding: 5px;
	}

	.tr{
		&:nth-child(odd){
			background-color: yellow;
		}
		&:hover{
			font-weight: bold;
			cursor: cell;
		}
	}
}




/**A ajouter: listes , tables; bouton fancy*/
